:80 {
    
    handle_path /peergrine/api/token/* {
        rewrite /peergrine/api/token/* /{http.regexp.token.1}
        reverse_proxy jwtissuer
    }

    handle_path /peergrine/api/signal/* {
        rewrite /peergrine/api/signal/* /{http.regexp.token.1}
        reverse_proxy rtc-bridge
    }

    handle_path /peergrine/api/message/* {
        rewrite /peergrine/api/message/* /{http.regexp.token.1}
        reverse_proxy msg-bridge
    }

}
