:80 {

    log {
        output stdout
        level INFO
    }

    handle_path /api/token/* {
        reverse_proxy {$JWTISSUER_ADDRESS}
    }

    handle_path /api/signal/* {
        reverse_proxy {$SIGNALING_ADDRESS}
    }

    handle_path /api/message/* {
        reverse_proxy {$MESSAGE_RELAY_ADDRESS}
    }

    root * /usr/share/caddy
    file_server
}
